<ul style="font-size: 14px;">
  <li>
    Cropper.js - <a href="https://github.com/fengyuanchen/cropperjs/blob/master/README.md">https://github.com/fengyuanchen/cropperjs/blob/master/README.md</a>
  </li>
  <li>
    NPM Cropper.js - <a href="https://www.npmjs.com/package/cropperjs">https://www.npmjs.com/package/cropperjs</a>
  </li>
  <li>
    Croppie - A Javascript Image Cropper - <a href="https://github.com/foliotek/croppie">https://github.com/foliotek/croppie</a>
  </li>
  <li>
    Drag and Drop File Uploader - <a href="https://codepen.io/joezimjs/pen/yPWQbd">https://codepen.io/joezimjs/pen/yPWQbd</a>
  </li>
  <li>
    Styling an input type=“file” button - <a href="https://stackoverflow.com/questions/572768/styling-an-input-type-file-button">https://stackoverflow.com/questions/572768/styling-an-input-type-file-button</a>
  </li>
  <li>
    How to change shape from square to circle in crop area - <a href="https://github.com/fengyuanchen/cropper/issues/545">https://github.com/fengyuanchen/cropper/issues/545</a>
  </li>
  <li>
    Check if file is image - <a href="https://stackoverflow.com/questions/18299806/how-to-check-file-mime-type-with-javascript-before-upload">https://stackoverflow.com/questions/18299806/how-to-check-file-mime-type-with-javascript-before-upload</a>
  </li>
</ul>

<div>
  <label for="myFile" style="vertical-align: top;" class="btn btn-primary">
    Select a file
    <input id="myFile" style="display: none;" type="file" (change)="handleFileInput($event.target.files)"/>
  </label>

  <button class="btn btn-primary" (click)="onClearCropper()">Clear Cropper</button>
  <button class="btn btn-primary" (click)="onCreateCropper()">Create Cropper</button>
  <button class="btn btn-primary" (click)="onGetBlob()">Get Blob</button>
  <button class="btn btn-primary" (click)="onCropperPopup()">Cropper-popup</button>
  <button class="btn btn-primary" (click)="onFileDragDrop()">File-drag-drop</button>
  <button class="btn btn-primary" (click)="onJustPopup()">Just-popup</button>
  <button class="btn btn-primary" (click)="onSimplePopup()">Simple-popup</button>
  <button class="btn btn-primary" (click)="onSimplePopup()">Simple-popup</button>
  <button class="btn btn-primary" (click)="onGetElementbyId()">onGetElementbyId</button>
</div>

<div style="width: 100%;">
  <div style="display: inline-block; height: 400px;">
    <img id="image" height="400px"
      src="https://images2.minutemediacdn.com/image/upload/c_crop,h_1188,w_2121,x_0,y_142/f_auto,q_auto,w_1100/v1554733134/shape/mentalfloss/78996-istock-682216682.jpg">
  </div>
  <div style="display: inline-block; vertical-align: top;">
    <img id="cropped" height="400px">
  </div>
</div>

