<ul>

  <li><a href="https://www.geekstrick.com/integrate-d3-with-angular-9/">https://www.geekstrick.com/integrate-d3-with-angular-9/</a></li>
  <li><a href="https://blog.logrocket.com/data-visualization-angular-d3/v">https://blog.logrocket.com/data-visualization-angular-d3/</a></li>
  
</ul>

<div>
  <div class="mygauge">
    <div class="box"></div>
    <div class="needle"></div>
  </div>
</div>

<br>

<!-- Tested css scale here -->
<div style="display: inline-block;">
  <div style="width: 207px; height: 112.5px;">
    <div class="mygauge" style="transform: scale(1.5); transform-origin: top left;">
      <div class="box"></div>
      <div class="css-needle">
        <svg width="138" height="75">
          <polyline [attr.points]="needle_pointer()" class="pointer"></polyline>
          <circle cx="50%" cy="69" r="6" class="pointer"></circle>
          <circle cx="50%" cy="69" r="1" class="center"></circle>
        </svg>
      </div>
    </div>
  </div>
</div>

<div style="display: inline-block; margin-left: 50px;">
  <app-dash-gauge></app-dash-gauge>
</div>