<div class="page-header">
  <h1>{{title}}</h1>
</div>

<div *ngIf="auth.isAuthenticated()">
  <a class="btn btn-primary" routerLinkActive="disabled" routerLink="cognito-login-example">cognito-login-example</a>
  <a class="btn btn-primary" routerLinkActive="disabled" routerLink="ng-cognito-example Amplify">ng-cognito-example</a>
  <a class="btn btn-primary" routerLinkActive="disabled" routerLink="ag-grid-example">ag-grid-example</a>
  <a class="btn btn-primary" routerLinkActive="disabled" routerLink="cropper-example">cropper-example</a>
  <a class="btn btn-primary" routerLinkActive="disabled" routerLink="playground">playground</a>

  <a class="btn btn-primary" (click)="Logout()">Logout</a>
</div>
<div>
  <router-outlet></router-outlet>
</div>