<div class="Rectangle-Copy-6" style="position: relative;">

  <div class="VA-Office-Phone" style="width: 100%;">Change Profile Photo</div>
  <img class="iconclose" src="/assets/images/Icon_close.svg"/>
</div>
<div style="width: 100%; padding: 6px;">
  <div class="drop-container">

  </div>
</div>
<div style="padding: 10px">
  <div style="text-align: center;">
    <label class="btn btn-primary btn-ackground">CHOOSE FILE</label>
  </div>
  <div class="There-are-35-templat">
    For best results, use a square image.<br>
    Format: .jpg and .png. Maxium size:: 4MB
  </div>
</div>